@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  background: linear-gradient(
    90deg,
    rgb(228, 231, 255) 5%,
    rgb(223, 253, 235) 30%,
    rgb(255, 249, 249) 61%,
    rgb(226, 234, 255) 99%
  );
}

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
}
