@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(90deg, rgba(219,214,255,1) 0%, rgba(180,255,212,1) 25%, rgba(241,255,241,1) 61%, rgba(235,244,255,1) 99%);
}